body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: -webkit-linear-gradient(right #1281cb, #0b3450);
    font-size: 16px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

video #background-video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.container {
    position: fixed;
    top: 0%;
    left: 10%;
    width: 80%;
    height: 100vh;
    background: -webkit-radial-gradient(top right, #408dc1, #000000);
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

#myVideo {
    width: 100%;
    height: 100px;
}
.player-top {
    background: -webkit-linear-gradient(top,#1281cb, #0b3450);
    width: 35%;
    margin: auto;
    border-radius: 0 0 30px 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.6);
}

.player-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 800;
    text-align: center;
}

.player-name h1 {
    margin: 0;
}

.song-details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    background: -webkit-linear-gradient(#055f9b, #0b3450);
    border-radius: 30px 30px 0 0;
    box-shadow: 5px 5px 15px rgb(44, 52, 72), -5px -5px 15px rgb(44, 52, 72);
}

#song-details-container {
    height: 300px;
    width: 80%;
    background-color: rgb(28, 94, 156);
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 8px rgb(0, 0, 0, 0.6);
}
.song-info {
    background-color: lightgray;
    width: 100%;
    margin: auto;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.song-info p {
    margin: 0;
}

.song-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 280px;
    margin: auto;
    border-radius: 0 0 10px 10px;
    background-color: rgb(30, 60, 77);
}
.song-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 250px;
    margin: auto;
    background-color: rgb(95, 127, 138);
    border-radius: 50%;
    background-repeat: no-repeat;
}
.song-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.4);
    border-radius: 50%;
    z-index: 1;
}
.song-img-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 81px;
    margin: auto;
    background-color: rgb(46, 69, 78);
    border-radius: 50%;
    box-shadow: inset 5px 5px 5px rgb(19, 27, 63), inset -5px -5px 5px rgb(19, 27, 63);
}

.song-img-middle {
    width: 33%;
    height: 30px;
    background-color: rgb(112, 111, 111);
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(12, 12, 12), -2px -2px 5px rgb(12, 12, 12);
}
.player-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    width: 60%;
    margin: auto;
    margin-top: 1px;
    background:  -webkit-linear-gradient(#08456d, #031b2b);
    border-radius: 0 0 30px 30px;
}

.player-container {
    height: 80%;
    width: 83%;
    background-color: antiquewhite;
    border-radius: 6px;
}

.timer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15px;
    background-color: rgb(46, 96, 167);
    border-radius: 5px 5px 0 0;
}
#current-time {
    color: #97beeb;
    margin-left: 5px;
}

#end-time {
    color: #97beeb;
    margin-right: 5px;
}
#current-time p {
    margin: 0;
}

#end-time p {
    margin: 0;
}

#seek-bar {
    height: 6px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    cursor: pointer;
}

#meter-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10px;
    background-color: rgb(1, 68, 96);
}
/*
#meter-bar{
    height: 6px;
    background-color: rgb(13, 38, 41);
}*/
#buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 46px;
    background-color: #010314;
    border-radius: 0 0 5px 5px;
}

#button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 40px;
    background-color: rgb(125, 165, 185);
    border-radius: 50%;
}

#button-play-pause {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 40px;
    background-color: rgb(125, 165, 185);
    border-radius: 50%;
}
#button-prev:hover {
    background-color:  rgb(72, 143, 179); 
    color: #010314;
    cursor: pointer;
}
#button-prev i:hover {
    font-size: 25px;
}
#button-play-pause:hover {
    background-color:  rgb(72, 143, 179); 
    color: #010314;
    cursor: pointer;
}
#button-play-pause i:hover{
    font-size: 25px;
}
#button-next:hover {
    background-color:  rgb(72, 143, 179); 
    color: #010314;
    cursor: pointer;
}
#button-next i:hover {
    font-size: 25px;
}

#button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 40px;
    background-color: rgb(125, 165, 185);
    border-radius: 50%;
}

.button-icon {
    font-size: 20px;
}

.player-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0dddd;
    background-color: rgb(30, 52, 87);
    margin-top: 5px;
}

#par {
    margin-left: 10px;
}

@keyframes animate{
   from {transform : rotate(0deg);}
   to {transform: rotate(360deg);}
}

@media (max-width: 620px) {
   body {
    font-size: 40%;
   }

   .song-details {
    width: 80%;
    height: 60%;
   }
    
   #song-details-container {
    height: 80%;
   }
   .song-info {
    font-size: 10px;
   }
   .song-cover {
    height: 90%;
   }
   .song-img{
    height: 80%;
    width: 75%;
   }
   .player-tab {
    width: 80%;
   }
   .player-bottom{
    margin-top: 74px;
   }   
}

@media (min-width: 614px) {
    body {
     font-size: 60%;
    }
 
    .song-details {
     width: 80%;
     height: 60%;
    }
     
    #song-details-container {
     height: 80%;
    }
    .song-info {
     font-size: 10px;
    }
    .song-cover {
     height: 95%;
    }
    .song-img{
     height: 90%;
     width: 70%;
    }
    .player-tab {
     width: 80%;
    }
    .player-bottom{
     margin-top: 55px;
    }
    
 }

 @media (min-width: 715px) {
    body {
     font-size: 60%;
    }
 
    .song-details {
     width: 80%;
     height: 60%;
    }
     
    #song-details-container {
     height: 80%;
    }
    .song-info {
     font-size: 10px;
    }
    .song-cover {
     height: 95%;
    }
    .song-img{
     height: 90%;
     width: 55%;
    }
    .player-tab {
     width: 80%;
    }
    .player-bottom{
     margin-top: 55px;
    }    
 } 

 @media (min-width: 760px) {
    body {
     font-size: 60%;
    }
 
    .song-details {
     width: 70%;
     height: 60%;
    }
     
    #song-details-container {
     height: 80%;
    }
    .song-info {
     font-size: 10px;
    }
    .song-cover {
     height: 95%;
    }
    .song-img{
     height: 90%;
     width: 65%;
      }
    .player-tab {
     width: 70%;
    }
    .player-bottom{
     margin-top: 55px;
    }    
 } 
 @media (min-width: 850px) {
    .song-img {
        width: 50%;
    }
 }
 @media (min-width: 1045px) {
    body {
     font-size: 90%;
    }
 
    .song-details {
     width: 70%;
     height: 65%;
    }
     
    #song-details-container {
     height: 85%;
    }
    .song-info {
     font-size: 15px;
    }
    .song-cover {
     height: 90%;
    }
    .song-img{
     height: 95%;
     width: 46%;
    }
    .player-tab {
     width: 70%;
    }
    .player-bottom{
     margin-top: 5px;
    }    
 } 

